<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="EEPWebClient" value="http://localhost/EEPWebClient"/>
    <add key="JQueryMobileVersion" value="1.4.2"/>
    <add key="IsFlow" value="false"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" defaultLanguage="vb" explicit="true" strict="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="DevExpress.Charts.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v14.2, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Sparkline.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v14.2, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v14.2.Core, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v14.2, Version=14.2.8.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="JQTools" namespace="JQClientTools" assembly="JQClientTools"/>
        <add tagPrefix="JQMobileTools" namespace="JQMobileTools" assembly="JQMobileTools"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="40690"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="SilverLightService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CustomBinding_SilverLightService" contract="SilverLightService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEFService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2097152000" maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_SilverLightService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="64" maxStringContentLength="2097152000" maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840"/>
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="CustomBinding_IEFService">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="64" maxStringContentLength="2097152000" maxArrayLength="2147483647" maxBytesPerRead="40960" maxNameTableCharCount="163840"/>
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8990/EFWCFModule/EFService/IEFService" binding="customBinding" bindingConfiguration="CustomBinding_IEFService" contract="EFClientTools.EFServerReference.IEFService" name="BasicHttpBinding_IEFService"/>
      <!--<endpoint address="http://localhost:8990/EFWCFModule/EFService/IEFService"
    binding="customBinding" bindingConfiguration="CustomBinding_IEFService"
    contract="EFServerReference.IEFService" name="CustomBinding_IEFService" />-->
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="LogOn.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>