<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Srvtools.LoginService, Srvtools" url="http://127.0.0.1:8989/Srvtools.rem"/>
        <wellknown type="Srvtools.ListenerService, Srvtools" url="http://127.0.0.1:8000/Srvtools.rem"/>
      </client>
      <channels>
        <channel ref="http"></channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <connectionStrings>
    <add name="forEEPEntities" connectionString="metadata=res://*/MWizard.csdl|res://*/MWizard.ssdl|res://*/MWizard.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=REIKAMI-PC;Initial Catalog=forEEP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="bin;bin2\subbin;bin3"/>
      </assemblyBinding>
    </runtime>
</configuration>
