body 
{
	padding: 0;
	margin: 0;
	background-image: url('../Image/Main/bg.jpg');
	background-repeat:repeat-x;
	background-color:#405765;
}

.fullwidthContainer
{
	width:100%;
}

#headerBg
{
	width: 100%;
	height: 75px;
	background-image: url('../Image/Main/banner_bg.jpg');
	background-repeat: repeat-x;
}

#headerLogo
{
	background-image: url('../Image/Main/banner.jpg');
	background-repeat:no-repeat;
	width:100%;
	height: 75px;
	text-align:right;
}

#headerLogo span
{
	position:relative;
	top: 25px;
	left: -5px;
}

#headerLogo img
{
	cursor:pointer;
}

#slControlHost
{
    text-align:center;
    width:230px;
    padding-bottom: 10px;
}

#button
{
    text-align:center;
    width:25px;
    padding-bottom: 10px;
}

#frameContainer
{
	padding-bottom: 10px;
}

#frameFlow
{
	padding-bottom: 10px;
	text-align:left;
}

#mainframe
{
	width:100%;
	height:100%;
}

#flowframe
{
	height:200px
}