/**/
/*页面主体样式*/
body
{
	font-family:Verdana;
	font-size: 9pt;
	background-image: url( '../../Image/innerpage/bg.jpg' );
	background-repeat: repeat-x;
	background-color:#405765;
}

/*主table的样式*/
#main_table
{
	width:200px;
	height:100px;
}

#td1
{
	text-align:center;
	color:blue;
}

#td2
{
	text-align:center;
}