/**/
/*页面主体样式*/
body 
{
	font-family:Verdana;
	font-size: 9pt;
	background-image: url( '../../Image/innerpage/bg.jpg' );
	background-repeat: repeat-x;
	background-color:#405765;
}

/*主div的样式*/
#main_container
{
	text-align:center;
	
	/*width:100%;*/
}

/*靠中显示fieldset样式*/
.centeralign_fieldset
{
	width:95%;
	padding:8px;
    border: 1px solid #0E4A66; 
    color: #FFFFFF;
    font-family: 'Microsoft JhengHei';
    font-weight: bold;
	text-align:center;
}

/*靠右显示fieldset样式*/
.rightalign_fieldset
{
	width:95%;
	padding:8px;
    border: 1px solid #0E4A66; 
    color: #FFFFFF;
    font-family: 'Microsoft JhengHei';
    font-weight: bold;
	text-align:right;
}

/*listbox样式*/
.lst
{
	width:195px;
	height:120px;
}

/*讯息textbox样式*/
#txtMessage
{
	width:420px;
	height:50px;
}

/*按钮container样式*/
.button_container
{
	float: left;
	padding:5px;
}

/*鼠标离开长方形按钮时，按钮的样式*/
.btn_rect_mouseout
{
   border: 1px solid #286699;
    width: 60px;
    height: 24px;
    cursor: hand;
    color: white;
    font-family:Microsoft JhengHei; 
    font-weight: bold;
    font-size: 12px;
    background-color:#95c3e9;
    background-image: url('../../Image/innerpage/btn1.png');
    background-repeat: repeat-x;
}

/*鼠标移动到长方形按钮上时，按钮的样式*/
.btn_rect_mouseover
{
    border: 1px solid #051723;
    width: 60px;
    height: 24px;
    cursor: hand;
    color: white;
    font-family:Microsoft JhengHei; 
    font-weight: bold;
    font-size: 12px;
    background-color:#64757f;
    background-image:url( '../../Image/innerpage/btn2.png' );
    background-repeat: repeat-x;	
}

/*鼠标离开正方形按钮时，按钮的样式*/
.btn_square_mouseout
{
   border: 1px solid #286699;

    height: 24px;
    cursor: hand;
    color: white;
    font-family:Microsoft JhengHei; 
    font-weight: bold;
    font-size: 12px;
    background-color:#95c3e9;
    background-image: url('../../Image/innerpage/btn1.png');
    background-repeat: repeat-x;
}

/*鼠标移动到正方形按钮上时，按钮的样式*/
.btn_square_mouseover
{
    border: 1px solid #051723;

    height: 24px;
    cursor: hand;
    color: white;
    font-family:Microsoft JhengHei; 
    font-weight: bold;
    font-size: 12px;
    background-color:#64757f;
    background-image:url( '../../Image/innerpage/btn2.png' );
    background-repeat: repeat-x;	
}

.color_legend
{
    color:White;
    font-weight:bold;    
}


 .left-top
{
    background-image: url('../../Image/innerpage/left-top.png');
    width:20px;
    height:20px;
    border:0px;
}
.right-top
{
    background-image: url('../../Image/innerpage/right-top.png');    
    width:20px;
    height:20px;    
    border:0px;
}
.left-bottom
{
    background-image: url('../../Image/innerpage/left-bottom.png');    
    width:20px;
    height:20px;    
    border:0px;
}
.right-bottom
{
    background-image: url('../../Image/innerpage/right-bottom.png');    
    width:20px;
    height:20px;    
    border:0px;
}
.top
{
    background-image: url('../../Image/innerpage/top.png');    
    background-repeat:repeat-x;
    height:20px;
    border:0px;
}
.bottom
{
    background-image: url('../../Image/innerpage/bottom.png');
    background-repeat: repeat-x;
    height: 20px;
    border: 0px;
}
.left
{
    background-image: url('../../Image/innerpage/left.png');   
    background-repeat:repeat-y; 
    width:20px;
}
.right
{
    background-image: url('../../Image/innerpage/right.png');    
    background-repeat:repeat-y;
    width:20px;
    border:0px

}
.center
{
    background-image: url('../../Image/innerpage/center.png');
    background-repeat: repeat;
    border: 0px;
}