/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
INSERT INTO RTLessorAVSCust
([COMQ1], [LINEQ1]
      ,[CUSID]
      ,[CUSNC]
      ,[CUTID2]
      ,[TOWNSHIP2]
      ,[RADDR2]
      ,[RZONE2]
      ,[CONTACTTEL]
      ,[MEMO]
      ,[FREECODE]
      ,[IP11]      
      ,[GTMONEY]
      ,[GTVALID]
      ,[GTSERIAL]
      ,[GTEQUIP]
      ,[GTPRTDAT]
      ,[GTPRTUSR]
      ,[FINISHDAT]
      ,[DOCKETDAT]
      ,[STRBILLINGDAT]
      ,[DROPDAT]
      ,[UUSR]
      ,[UDAT]
      ,[CANCELDAT]
      ,[CANCELUSR]
      ,[NEWBILLINGDAT]
      ,[DUEDAT]
	  , COMTYPE)
SELECT [COMQ1], 
[LINEQ1]
      ,[CUSID]
      ,[CUSNC]
      ,[CUTID2]
      ,[TOWNSHIP2]
      ,[RADDR2]
      ,[RZONE2]
      ,[CONTACTTEL]
      ,[MEMO]
      ,[FREECODE]
      ,[IP11]      
      ,[GTMONEY]
      ,[GTVALID]
      ,[GTSERIAL]
      ,[GTEQUIP]
      ,[GTPRTDAT]
      ,[GTPRTUSR]
      ,[FINISHDAT]
      ,[DOCKETDAT]
      ,[STRBILLINGDAT]
      ,[DROPDAT]
      ,[UUSR]
      ,[UDAT]
      ,[CANCELDAT]
      ,[CANCELUSR]
      ,[NEWBILLINGDAT]
      ,[DUEDAT]
	  , '9'
  FROM [RTLib].[dbo].[RTPrjCust]