/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
insert into RTLessorAVSCmtyH
([COMN]
      ,[CUTID]
      ,[TOWNSHIP]
      ,[RADDR]
      ,[CUTID2]
      ,[TOWNSHIP2]
      ,[RADDR2]
      ,[CUTID3]
      ,[TOWNSHIP3]
      ,[RADDR3]
      ,[RZONE]
      ,[COMCNT]
      ,[CONTACT]
      ,[CONTACTTEL]
      ,[UUSR]
      ,[UDAT]
	  ,COMTYPE)
SELECT [COMN]
      ,[CUTID]
      ,[TOWNSHIP]
      ,[RADDR]
      ,[CUTID]
      ,[TOWNSHIP]
      ,[RADDR]
      ,[CUTID]
      ,[TOWNSHIP]
      ,[RADDR]
      ,[RZONE]
      ,[COMCNT]
      ,[MANAGER]+[CONTACT]
      ,[MANAGERTEL]+'/'+[CONTACTTEL]      
      ,[UUSR]
      ,[UDAT]
	  ,'9'
  FROM [RTLib].[dbo].[RTPrjCmtyH]

