body 
{
	background-color:#405765;
	background-position: top;
	background-repeat: repeat-x;
    background-image: url('../Image/Login/bg.jpg');
}
 .style1
{
    /*border-color: #4F6269;
    border-width: 1px;*/
    background-image: url('../Image/Login/top_05.png');
    background-repeat: repeat-x;
    width: 586px; 
    height: 233px;
}
 .control
{
    background-color: #D4E9EE;
    border-width: 1px;
    border-style: solid;
    border-color: #4F6269;
    font-size: 12px;
    color: #333333;
    width: 250px;
    height: 21px;
    line-height: 21px;
}
 .maintable
 {
     border-width: 0px; 
     width: 586px;
     height: 100%;
     border-collapse: collapse;
     border-color: #001824;
 }
  .login_top
  {
      background-image: url('../Image/Login/top_03.png');
      width: 586px;
      height: 104px;
      background-repeat: no-repeat; 
      z-index: auto;
  }
   .login_bot
   {
       /*background-image: url('../Image/Login/login_bot_bg_tw.jpg');*/
       background-repeat: no-repeat;
       width: 586px;
       height: 90px;
   }
   .lab
   {
       font-size:10pt;
       font-family:Arial;
       font-weight:bold;
       color:#001824;
   }
    .cbx
    {
        font-family:Arial;
        font-weight:bold;
        font-size:10pt;
    }
     .fullcontainertable
     {
         width:100%;
     }
   .imgbtn
   {
       background-image:url('../Image/Login/logout_tw.png');
   }
   
  