body {
    background-color: #01030f;
    background-position: top;
    background-repeat: repeat-x;
    background-image: url('../Image/Logon2012/BG.jpg');
    background-size: cover;
    font-family: Microsoft JhengHei;
}

.maintable {
    background-image: url('../Image/Logon2012/LogonBG.png');
    border-width: 0px;
    width: 450px;
    height: 353px;
    border-collapse: collapse;
    border-color: #001824;
    background-size: contain;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

.control {
    background-color: #D4E9EE;
    border-width: 1px;
    border-style: solid;
    border-color: #4F6269;
    font-size: 12px;
    color: #333333;
    width: 100%;
    height: 20px;
    line-height: 21px;
}

.login_top {
    width: 450px;
    height: 106px;
    padding: 0px;
    margin: 0px;
}

.login_top_image {
    width: 210px;
    height: 66px;
    padding: 0px;
    margin: 0px;
}

.style1 {
    background-image: url('../Image/Logon2012/MainBG.png');
    background-repeat: no-repeat;
    width: 410px;
    height: 176px;
    padding: 0px;
    margin: 0px 20px 0px 20px;
}

.login_bot {
    /*background-image: url('../Image/Login/login_bot_bg_tw.jpg');*/
    width: 450px;
    height: 71px;
    margin: 20px;
}

.lab {
    font-size: 10pt;
    font-weight: bold;
    /*color: #001824;*/
    color: #ffffff;
}

.cbx {
    font-weight: bold;
    font-size: 10pt;
    color: #ffffff;
}

.fullcontainertable {
    width: 100%;
}

.imgbtn {
    background-image: url('../Image/Login/cancel_tw.png');
}
