/**/
/*页面主体样式*/
body
{
	background-image:url('../Image/login/bg.jpg'); 
    background-color: #405765;
	background-repeat:repeat-x;
	font-family:Microsoft JhengHei;
	font-size: 9pt;
}

/*主div样式*/
#inhalt
{
	position:absolute;
	width:480px;
	height:340px;
	margin-left:-240px;
	margin-top:-170px;
	top: 50%;
	left: 50%;
	text-align: left;
	overflow:auto;
	
	z-index:1;
	text-align:center;
}

/*主table样式*/
#mainTable
{
	width: 480px;
	height:340px;
}

/*上层区域样式*/
#layer1
{
	z-index: 2;
}

/*下层区域样式*/
#layer2
{
	z-index: 2;
	position:relative;
	top:-46px;
}

/*背景表格样式*/
#td11
{
}

/*标签contaienr样式*/
.labelContainer
{
	text-align:left;
	height:27px;
}

/*标签样式*/
.label
{
	color:#006699;
}

/*文本样式*/
.input
{
	width:160px;
}

/*鼠标离开按钮时，按钮的样式*/
.btn_mouseout
{
    border: 1px solid #286699;
    width: 60px;
    height: 24px;
    cursor: hand;
    color: white;
    font-size: 12px;
    background-color:#95c3e9;
    background-image: url(../Image/main/emptybtn.png);
    background-repeat: repeat-x;
}

/*鼠标移动到按钮上时，按钮的样式*/
.btn_mouseover
{
    border: 1px solid #051723;
    width: 60px;
    height: 24px;
    cursor: hand;
    color: white;
    font-size: 12px;
    background-color:#64757f;
    background-image: url(../Image/main/emptybtn_over.png);
    background-repeat: repeat-x;
}

/*按钮container样式*/
.btnContainer
{
	padding:5px;
}
