/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
INSERT INTO RTLessorAVSCust
(COMQ1, LINEQ1 ,CUSID ,CUSNC ,CUTID2 ,TOWNSHIP2 ,RADDR2 ,RZONE2 ,CONTACTTEL ,MEMO ,FREECODE ,IP11       ,GTMONEY ,GTVALID ,GTSERIAL ,GTEQUIP ,GTPRTDAT ,GTPRTUSR ,FINISHDAT ,DOCKETDAT ,STRBILLINGDAT ,DROPDAT ,UUSR ,UDAT ,CANCELDAT ,CANCELUSR ,NEWBILLINGDAT ,DUEDAT
	  , COMTYPE, CUSTSRC)
SELECT b.COMQ1, 
LINEQ1 ,CUSID ,CUSNC ,CUTID2 ,TOWNSHIP2 ,RADDR2 ,RZONE2 ,CONTACTTEL ,MEMO ,FREECODE ,IP11       ,GTMONEY ,GTVALID ,GTSERIAL ,GTEQUIP ,GTPRTDAT ,GTPRTUSR ,FINISHDAT ,DOCKETDAT ,STRBILLINGDAT ,DROPDAT ,UUSR ,UDAT ,CANCELDAT ,CANCELUSR ,NEWBILLINGDAT ,DUEDAT
	  , '9', '01'
  FROM RTPrjCust A
    left join 
  ( select A.COMQ1, b.COMQ1 as COMQ1O 
from RTLessorAVSCmtyH A
left join RTPrjCmtyH b on b.COMN=a.COMN and b.RADDR=a.RADDR
where A.comtype='9') b on b.COMQ1O=a.COMQ1