--INSERT INTO RTLessorAVSCust
--SELECT * FROM RTPrjCust
--SELECT * FROM RTPrjCmtyLine

/*設定 客戶及主線的社區編號
UPDATE RTPrjCust
SET COMQ1=COMQ1+582
UPDATE RTPrjCmtyLine
SET COMQ1=COMQ1+582
*/

--新增其他資料表
INSERT INTO RTLessorAVSCustRepairLog
SELECT * FROM RTPrjCustRepairLog

INSERT INTO RTLessorAVSCustRepair
SELECT * FROM RTPrjCustRepair

INSERT INTO RTLessorAVSCustARDTL
SELECT * FROM RTPrjCustARDTL

INSERT INTO RTLessorAVSCustARClear
SELECT * FROM RTPrjCustARClear

INSERT INTO RTLessorAVSCustAR
SELECT * FROM RTPrjCustAR

--SELECT * FROM RTPrjCust
--SELECT * FROM RTPrjCmtyLine
