/****** SSMS 中 SelectTopNRows 命令的指令碼  ******/
INSERT INTO [RTLessorAVSCmtyLine]
( [COMQ1]
      ,[LINEQ1]
      ,[CUTID]
      ,[TOWNSHIP]
      ,[RADDR]
      ,[RZONE]
      --,[EQUIPLOC]
      ,[LOANNAME]
      ,[LOANSOCIAL]
      --,[LOANTEL]
      ,[LINEIP]
      ,[GATEWAY]
      ,[SUBNET]
      ,[DNSIP]
      ,[PPPOEACCOUNT]
      ,[PPPOEPASSWORD]
      ,[LINETEL]
      ,[LINERATE]
      ,[LINEISP]
      ,[LINEIPTYPE]
      ,[APPLYDAT]
      --,[ARRIVEDAT]
      ,[DROPDAT]
      ,[EUSR]
      ,[EDAT]
      ,[UUSR]
      ,[UDAT]
      ,[CANCELUSR]
      ,[CANCELDAT]
      ,[MEMO])
SELECT [COMQ1]
      ,[LINEQ1]
      ,[CUTID]
      ,[TOWNSHIP]
      ,[RADDR]
      ,[RZONE]
      --,[EQUIPLOC]
      ,[LOANNAME]
      ,[LOANSOCIAL]
      --,[LOANTEL]
      ,[LINEIP]
      ,[GATEWAY]
      ,[SUBNET]
      ,[DNSIP]
      ,[PPPOEACCOUNT]
      ,[PPPOEPASSWORD]
      ,[LINETEL]
      ,[LINERATE]
      ,[LINEISP]
      ,[LINEIPTYPE]
      ,[APPLYDAT]
      --,[ARRIVEDAT]
      ,[DROPDAT]
      ,[UUSR]
      ,[UDAT]
      ,[UUSR]
      ,[UDAT]
      ,[CANCELUSR]
      ,[CANCELDAT]
      ,[MEMO]
  FROM [RTLib].[dbo].[RTPrjCmtyLine]

  --SELECT * FROM [RTLessorAVSCmtyLine]
  --SELECT * FROM [RTLib].[dbo].[RTPrjCmtyLine]