.ajaxmodalpan_div_title
{
	height:15px;
	padding:2px 0px 2px 0px;
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#DCEBFD', endColorStr='#8DB2E6', gradientType='1');
}

.ajaxmodalpan_popup
{
	border-width : 3px;
	border-style : solid;
	border-color : Gray;
}

/*内容的样式*/
.ajaxmodalpan_div_content
{
	text-align:center;
	background-image:url('../../Image/main/background.png');
	background-repeat:repeat;
	overflow-x:scroll;
	padding:2px 0px 2px 0px;
}

.ajaxmodalpan_modalBackground
{
	background-color:Gray;
	filter:alpha(opacity=60);
	opacity:0.6;
}

.ajaxmodalpan_btnClose
{
	cursor:pointer;
	position:relative;
	top:-2px;
}