<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEPServerMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EEPServerMonitor.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CpuWarning" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="IntervalWarning" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="WarningNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyCycle" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MemoryWarning" serializeAs="String">
                <value>256</value>
            </setting>
        </EEPServerMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
