<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EEPNetClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Srvtools.LoginService, Srvtools" url="http://127.0.0.1:8989/Srvtools.rem"/>
		    <wellknown type="Srvtools.ListenerService, Srvtools" url="http://127.0.0.1:8000/Srvtools.rem"/>
      </client>

      <channels>
        <channel ref="http">
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <userSettings>
    <EEPNetClient.Properties.Settings>
      <setting name="ProxyUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyRememberPassword" serializeAs="String">
        <value>False</value>
      </setting>
    </EEPNetClient.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"  sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
