<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="EEPManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <system.runtime.remoting>
		<application>
			<client>
				<wellknown type="Srvtools.LoginService, Srvtools" url="http://127.0.0.1:8989/Srvtools.rem"/>
				<wellknown type="Srvtools.ListenerService, Srvtools" url="http://127.0.0.1:8000/Srvtools.rem"/>
			</client>

			<channels>
				<channel ref="http">
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
 <userSettings>
  <EEPManager.Properties.Settings>
   <setting name="ProxyUser" serializeAs="String">
    <value/>
   </setting>
   <setting name="ProxyPassword" serializeAs="String">
    <value/>
   </setting>
   <setting name="ProxyAddress" serializeAs="String">
    <value/>
   </setting>
   <setting name="ProxyEnable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProxyPort" serializeAs="String">
    <value>80</value>
   </setting>
  </EEPManager.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
